:root {
  --main-color: #000;
  --secondary-color: #fff;
}

body {
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: var(--main-color);
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(/images/header-bg.jpg);
  padding: 320px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 57px;
  width: inherit;
}

.navigation {
  display: flex;
}

.list-link {
  display: flex;
}

.link {
  display: block;
  padding: 14px 0;
  color: var(--secondary-color);
}
.list-item + .list-item {
  margin-left: 40px;
}

.logo {
  margin-right: 70px;
}

.subtitle {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-title {
  font-size: 100px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.button {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.52;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 18px 50px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.about {
  padding: 113px 0;
}

.section-title {
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 56px;
}

.box-title {
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 19px;
}

.box-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: var(--main-color);
}

.list-box {
  margin-bottom: 57px;
  display: flex;
  margin-left: -30px;
}

.box-content {
  width: calc(100% / 12 * 6 - 30px);
  margin-left: 30px;
}

.galery {
  display: flex;
  margin-right: -30px;
}

.galery-img {
  margin-right: 30px;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: var(--main-color);
}

.list-footer {
  display: flex;
}

.footer-item + .footer-item {
  margin-left: 55px;
}

.footer {
  padding-bottom: 80px;
}
